<ion-header>
  <ion-toolbar color="light">
    <ion-toolbar color="light">
      <ion-title text-center>{{sv.applicationTitle}}</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="tempUserDetail"> 
    <ion-item> 
      <ion-input type="text"   formControlName="group" name="group" placeholder="Enter group name" required></ion-input>
   </ion-item>
    <ion-item> 
       <ion-input type="text"   formControlName="name" name="Name" placeholder="Enter user name" required></ion-input>
    </ion-item>
    <ion-item> 
       <ion-input type="email" formControlName="email" name="Email" placeholder="Enter email" required></ion-input> 
    </ion-item>
    <ion-item> 
       <ion-input type="text"   formControlName="phone" name="Phone" placeholder="Enter phone" required></ion-input>  
    </ion-item>
    <!-- <ion-select class="dropdownclass" [value]="tempGroupList[0]"  placeholder="Select society" formControlName="societyName" required>
      <ion-select-option  class="dropdownclass"  *ngFor="let gl of tempGroupList; index as i;" [value]="gl">{{gl.groupName + ' ' + gl.shortAddress }}
      </ion-select-option>
    </ion-select> -->
    <ion-item> 
      <ion-input  type="text"   formControlName="address" name="Address"  placeholder="Enter complete address" required></ion-input>
    </ion-item>
      
    <ion-item> 
    <div #map id="map"></div>
  </ion-item>
  <ion-item> 
    <ion-button type="submit" [disabled]="!tempUserDetail.valid" color="primary" (click) ="RegisterUser()">Register</ion-button>  
    <ion-button style="float: right; margin-right: 20px;" [routerLink]="['tabs/dashboard']">Cancel</ion-button>
  </ion-item>
</form>
</ion-content>  