<ion-header>
  <ion-toolbar color="light">
    <ion-title text-center>{{shareNeedService.applicationTitle}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
    <ion-text color="primary">  As COVID-19 has surfaced and we have come to know how deadly it is.</ion-text>
    <ion-text>To combat we know only best solution so far is social distancing and stop its chain.</ion-text>
    <ion-text> As government doing its best to handle it , and lock-down coming up as only viable solution to avoid its spread.</ion-text>
    <ion-text> We all from our daily life are suddenly finding ourselves locked at our homes and we need to survive this crucial
      period.</ion-text>
      <ion-text> As we all were never prepared for it, from start or while this period we all may need few important items along
      with essential commodities at odd time like common medicines, milk for infant, a mobile charger , a matchbox. Few
      articles are no longer available due to lock-down.</ion-text>
      <ion-text> We are also avoiding going out. So we need a way if somehow we can get our crucial need without going to market
      and following government rules.</ion-text>
      <ion-text>  Who better than our neighborhood. Our neighbor may have that article and can help us but we need a communication.
      We need a platform for a locality where we can request of our need ,and someone from our neighborhood a form of
      GOD can help us. Seeking a lifeline</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>