/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body{
  font-family: Arial, Helvetica, sans-serif!important;
}

ion-icon {
    font-size: 64px;
  }
  ion-content, ion-grid{
    --background:#d32f2f;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d32f2f+0,d32f2f+37,d15555+70,d16c6c+100 */
background: #d32f2f; /* Old browsers */
background-color:#d32f2f;
  }
  ion-title{
    background-image: url("src/assets/images/ico.png");
    background-repeat: no-repeat;
    height: 68px;
    padding-left: 46px;
    position: relative;
    left: 10px;
    color: #f55246;
    font-size: 26px;
    background-position: 0 44%;
    font-family: arial;
    letter-spacing: 1px;
  }
  ion-toolbar[_ngcontent-igj-c1] {
  
    background: #d32f2f!important;
    --ion-toolbar-background:#d32f2f;
}
  .toolbar-background{
    background: #d32f2f;
  }
  
  .md.title-default.hydrated{
    background-color:#fff;
  }
 
  ion-card{
    
    height: 100%;
    background-color: transparent;
    border: 1px solid #f5554a;
  }
  ion-icon{
    color:#fff;
    font-size: 40px;
  }
  ion-tab-button{
    background-color: #000;
  }
  ion-icon[_ngcontent-mma-c3] {
    font-size: 40px;
}

.hydrated {
  visibility: inherit;
  --ion-item-background: transparent;
  --ion-text-color: #fff;
  --color: #fff;
}
.mat-table {
  background: transparent;
  table-layout: fixed;
}

.button-inner{
  color: #000;

}
.logo{
  background-image: url("src/assets/images/logo-BB.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 220px;
    margin-top: 115px
}
.sc-ion-input-ios-h {
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-start: 0;
  font-size: inherit;
}
.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
  padding: 20px 0;
}
.hydrated {
  visibility: inherit;
  --ion-item-background: transparent;
  --ion-text-color: #000;
  --color: #fff;
}
