ion-icon {
    font-size: 64px;
  }
  ion-content, ion-grid{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d32f2f+0,d32f2f+37,d15555+70,d16c6c+100 */
background: #d32f2f; /* Old browsers */
background: -moz-linear-gradient(top,  #d32f2f 0%, #d32f2f 37%, #d15555 70%, #d16c6c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d32f2f 0%,#d32f2f 37%,#d15555 70%,#d16c6c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d32f2f 0%,#d32f2f 37%,#d15555 70%,#d16c6c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32f2f', endColorstr='#d16c6c',GradientType=0 ); /* IE6-9 */

  }
  
  .md.title-default.hydrated{
    background-color:#f5554a;
  }
  .md.ion-color.ion-color-danger.hydrated{
   
  }
  ion-card{
    
    height: 100%;
    background-color: transparent;
    border: 1px solid #f5554a;
  }
  ion-icon{
    color:#fff;
    font-size: 40px;
  }
  ion-tab-button{
    background-color: #000;
  }
  ion-icon[_ngcontent-mma-c3] {
    font-size: 40px;
}